In [1]:
import pandas as pd

# Reading data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   Fever  BodyPain  Age  RunnyNose  DiffBreath  ChestPain  InfectionProb
0     99         1   50          1           0          1              1
1     98         1   72          1          -1          1              1
2    103         0   13          1           1          1              1
3    104         0   89          0           1          0              1
4    104         1   54          1           1          0              1

In [4]:
df.tail()

      Fever  BodyPain  Age  RunnyNose  DiffBreath  ChestPain  InfectionProb
3324    104         0   17          1           0          1              1
3325    102         1   43          0           0          0              1
3326     98         1   34          0          -1         -1              1
3327    100         1    2          1           0         -1              1
3328     98         1   71          0           1          1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3329 entries, 0 to 3328
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fever          3329 non-null   int64
 1   BodyPain       3329 non-null   int64
 2   Age            3329 non-null   int64
 3   RunnyNose      3329 non-null   int64
 4   DiffBreath     3329 non-null   int64
 5   ChestPain      3329 non-null   int64
 6   InfectionProb  3329 non-null   int64
dtypes: int64(7)
memory usage: 182.2 KB

In [6]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,ChestPain,InfectionProb
count,3329.000000,3329.000000,3329.000000,3329.000000,3329.000000,3329.000000,3329.000000
mean,100.990087,0.498047,49.551817,0.498047,0.018925,0.000901,0.498047
std,2.012780,0.500071,29.518834,0.500071,0.816707,0.812130,0.500071
min,98.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000
25%,99.000000,0.000000,24.000000,0.000000,-1.000000,-1.000000,0.000000
50%,101.000000,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000
75%,103.000000,1.000000,75.000000,1.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000,1.000000

# Train-test-splitting

In [7]:
import numpy as np

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [9]:
train , test = data_split(df,0.2)

In [10]:
train

      Fever  BodyPain  Age  RunnyNose  DiffBreath  ChestPain  InfectionProb
1467    104         1   70          1           1          1              1
582     102         1   52          1           0         -1              0
1951    104         1   46          0          -1          1              1
3291     98         0   64          0           0          0              1
679     104         1   90          0           0         -1              1
...     ...       ...  ...        ...         ...        ...            ...
1095    101         1   75          1           1          0              0
1130    100         0   99          0           0          1              1
1294     99         0   94          1           1          1              0
860      98         0   79          1          -1         -1              0
3174    104         0   49          1          -1         -1              1

[2664 rows x 7 columns]

In [11]:
test

      Fever  BodyPain  Age  RunnyNose  DiffBreath  ChestPain  InfectionProb
438      99         1   85          0           0          0              0
1822     99         0   80          0           0          1              1
997     103         0   88          0           0          0              1
1789    103         0   99          1           1          0              0
3135    101         0    1          0           1          0              1
...     ...       ...  ...        ...         ...        ...            ...
1110    100         0   13          0           1         -1              1
1351    100         0    8          0           0         -1              0
2575    101         0   23          1          -1         -1              0
3141    101         1   69          0           0         -1              1
1813     99         1   69          1           1          1              0

[665 rows x 7 columns]

In [12]:
X_train = train[['Fever','BodyPain','Age','RunnyNose','DiffBreath','ChestPain']].to_numpy()
X_test = test[['Fever','BodyPain','Age','RunnyNose','DiffBreath','ChestPain']].to_numpy()

In [13]:
Y_train = train[['InfectionProb']].to_numpy().reshape(2664 ,)
Y_test = test[['InfectionProb']].to_numpy().reshape(665 ,)

In [14]:
Y_train

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [27]:
inputFeatures = [98,1,100,1,1,-1]
InfProba = clf.predict_proba([inputFeatures])[0][1]

In [28]:
InfProba

0.4376129911897905